/project-development/real-time-weather/.env
/project-development/sales-quote-automation/.env
/project-development/real-time-weather/research
/project-development/real-time-weather/admin
/project-development/sales-quote-automation/admin
/project-development/sales-quote-automation/csv-based
/project-development/sales-quote-automation/research-notes
/project-ideas-and-notes
/sales_predictions/.env
/excel_formatting/storelist.xlsx